.panel-heading
  %h3
    %b Listagem de localizações
    %br
    %small 
      Lista de localizações cadastrados
  = link_to "adicionar localização", new_address_path, remote: true, class: 'pull-right btn btn-success btn-xs'
%hr/
.panel-body
  .row  
    .col-md-12
      %table.table.table-striped.table-hover.table-bordered
        %thead 
          %tr
            %th Nome
            %th Região
            %th Ação
        %tbody.address-index
          = render 'index'