= simple_form_for @attribute do |f|
  .row
    .col-md-8
      = f.input :name
    .col-md-2
      = f.input :status, as: :select, include_blank: false
    .col-md-2{style: 'margin-top: 24px'}
      = f.submit "Salvar atributo", class: 'btn btn-success', data: { disable_with: t(:disable_button)}
    
    

