- if @block.errors.any?
  $("#modal .modal-content .modal-body").html("#{escape_javascript(render 'form')}")
- else 
  $("#modal").modal('hide')
  $(".block-index").html("#{escape_javascript(render 'index')}")