.panel-heading
  %h3
    %b Listagem de Blocos 
    %br
    %small 
      Lista de blocos
  = link_to "adicionar bloco", new_address_group_block_path(address_id: @address.id, group_id: @group.id), remote: true, class: 'pull-right btn btn-success btn-xs'

%hr/
.panel-body
  .row
    .col-md-12
      %table.table.table-bordered
        %thead
          %tr
            %th Localidade
            %th Quadra
        %tbody
          %tr
            %td= link_to @address.name.humanize, addresses_path
            %td= link_to @group.name.humanize, address_groups_path(address_id: @address.id)
  %hr/
  .row  
    .col-md-12
      %table.table.table-striped.table-hover.table-bordered
        %thead 
          %tr
            %th Localidade
            %th Quadra
            %th Bloco
            %th CEP
            %th Tour
            %th Ações
        %tbody.block-index
          = render 'index'