= simple_form_for @session, remote: true do |f|
  .row
    .col-md-12
      %label
        %b Usuário
      = f.input :username, label: false, input_html: { placeholder: "Digite seu usuário"}
  .row
    .col-md-12
      %label
        %b Senha
      = f.input :password, label: false, input_html: { placeholder: "Digite sua senha"}
  %hr/
  .row
    .col-md-12
      = f.submit "Acessar meus favoritos", class: 'btn btn-primary'