.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
  %h4.modal-title
    %b Acessar meus favoritos
.modal-body
  .row 
    .col-md-6{style: "text-align: center"}
      = link_to "Acessar via Google", '/auth/google_oauth2', class: 'btn btn-danger'
    .col-md-6{style: "text-align: center"}
      = link_to "Acessar via Facebook", '/auth/google_oauth2', class: 'btn btn-primary'
  %hr/
  .row
    .col-md-12
      = render 'form' 