.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
  %h4.modal-title
    %b Acessar meus favoritos
.modal-body
  .row
    .col-md-12{style: 'text-align: center'}
      %h5= link_to "Não possuí cadastro? clique aqui", new_external_user_path, remote: true
  %hr/
  .row
    .col-md-12
      = render 'form' 