.row{style: 'margin-top: 100px'}
  .col-lg-4.col-lg-offset-4
    .col-md-10
      .panel
        .panel-heading{style: 'text-align: center'}
          %h3 
            %b Área do cliente
          = image_tag '/images/logo/logo_full.png', width: 300
        %hr/
        .panel-body
          = render 'form'
