.panel
  .panel-body
    .container
      .recent-properties-inner
        .section-title
          %br/
          %h3 Meus favoritos
      %hr/
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Número
            %th Nome
            %th Endereço
            %th Link
            %th Ação
        %tbody
          