= simple_form_for @session do |f|
  .row
    .col-md-12
      = f.input :username, label: false, input_html: { placeholder: "Digite sua credencial"}
  .row
    .col-md-12
      = f.input :password, label: false, input_html: { placeholder: "Digite sua senha"}
  %hr/
  .row
    .col-md-12
      = f.submit "Realizar acesso", class: 'btn btn-primary'