.fav-buttons {
    padding-top: 10px !important;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field {
    width: none !important;
}

@media screen and (min-width: 768px) {
.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group {
    width: 0% !important;
    float: left;
}
}