%footer.footer
  .footer-nav
    .container
      .row
        .col-md-3
          .ft-about-us
            %h4.ft-col-title DF Aqui
            %hr/
            .text-block
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi, non tristique eros scelerisque vitae. Ut sed dolor ornare, ullamcorper eros sit amet, accumsan risus.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .col-md-2
        .col-md-3
          .ft-useful-links
            %h4.ft-col-title Links Úteis
            %hr/
            %nav.useful-links-menu{:role => "navigation"}
              %ul
                %li.menu-item
                  %a{:href => "#"} Termos de Uso
                %li.menu-item
                  %a{:href => "#"} Política de Uso
                %li.menu-item
                  %a{:href => "#"} Contato
                %li.menu-item
                  %a{:href => "#"} Trabalhe Conosco
                %li.menu-item
                  %a{:href => "#"} Quem Somos
                %li.menu-item
                  %a{:href => "#"} FAQs
        .col-xs-12.col-sm-6.col-md-3.footer-nav-col
          .ft-contact-info
            %h4.ft-col-title Anuncie
            %hr/
            %ul.detail-contact-info
              %li
                %i.fa.fa-map-marker>
                 Brasília
              %li
                %i.fa.fa-envelope-o>
                %a{:href => "mailto:dfaqui@dfaqui.com"} df@dfaqui.com