%header.noo-header
  .main-nav-wrap.container
    .row
      .col-md-2
        = image_tag '/images/logo/logo_full.png', size: '300x100'
      .col-md-4.col-md-offset-6
        .fav-buttons
          %i.glyphicon.glyphicon-star
          = link_to "Meus favoritos", "#", class: 'fav-button'

          = link_to "Acessar", "#", class: 'btn btn-primary'
