.gsearch-wrap
  = simple_form_for url_for, method: :get do |f|
    .gsearch-content
      .gsearch-field
        .form-group.ggroup
          .label-select
            %select.form-control{name: "groups"}
              %option{value: ''} Quadra
        .form-group.gtype
          .label-select
            %select.form-control{name: "property_numbers"}
              %option{value: ''} Número
        .form-group.gsub-location
          .label-select
            %select.form-control
              %option Noroeste
        .form-group.gstatus
          .label-select
            %select.form-control{name: "by_type_properties", value: params[:by_type_properties]}
        .form-group.gbed
          .label-select
            %select.form-control{name: "rooms"}
              %option{value: ''} Nº de Quartos
              %option 1
              %option 2
              %option 3
              %option 4
              %option 5
        .form-group.gbath
          .label-select
            %select.form-control{name: "bathrooms"}
              %option{value: ''} Nº de Suites
              %option 1
              %option 2
              %option 3
              %option 4
      .gsearch-action
        .gsubmit
          %input.btn.btn-deault{type: 'submit', value: 'Buscar'}
